body{
    background: linear-gradient(83deg, #080122, #4e40b4, #8154bd);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 17s ease infinite;
    -moz-animation: AnimationName 17s ease infinite;
    animation: AnimationName 17s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}
@keyframes AnimationName {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}



a{
	text-decoration: none;
	color: white;
	font-size:1;
}

h1{
	color: white;
	font-size: 50px;
	font-family: 'Bebas Neue', cursive;
}

h2{
	color: white;
	font-family: 'Fira Sans', sans-serif;;
}


p{
	color: white;
	font-size: 18px;
	font-family: 'Lobster', cursive;
}


a:hover{ 
		color:white;
		font-size:50px;
	}
	
#profile-picture-round{
	width:232px;
	height: :232px;
	border-radius: 50%;
}

#profile-picture {
	width: 150px;
	height: :150px;
	border-radius: 90%;
}

.list-inline{
	list-style:none;
	margin-left:0;
	padding-left:0;
}
	li{
		color:white;
		margin-bottom : 15px;
		display: inline;
		font-size: 40px;
		margin: 10px;
}


div{
	padding: 0px:;
	margin:0px auto;
	border-radius: 5px;
	box-shadow: 0 15px 35px rgba(50,50,93,0.5);
	width:10px;
}


.card-white {
	width: 750px;
	padding:30px;
	margin top: 1px;
	margin: 20px;
	height:  160px;
	border-radius:0,15px 35px rgba(50, 50, 93, 1);
	text-align:center;
}

#cardone {
	background-image: url(image/fond.jpg);
	background-size: 100%;
	position: center;
	width: 900px;
	padding: 30px;
	padding-top: 10px;
	height: 450px;
	margin-bottom: 50px;
	margin-top: 20px;
	text-align: center;
}


.video-responsive iframe {
	position: absolute;
  	width: 50%;
  	height: 50%;
  	padding: 1px;
}

#video-responsive {
	width: 600px;
	paddinf: 10px;   
	margin: 300px;
	height: 325px;
	margin-bottom: 0px;
	margin-top: 0px;
	display: block;
}


#cardtwo {
	background-image :url(image/studypic.jpg);
	background-size: 220%;
	background-position: left;
}


#cardfour{
	background-image:url(image/reseau.jpg);
	background-position:right;
}


#fond-titre-party{
	text-shadow:0 0 2px #00FFFC,0 0 30px #00FFFC,0px 0px 5px #00FFFC, 0 0 150px #00FFFC;
	color:white;
	font-size: 24px;
}

#fond-titre-party2{
	text-shadow:0 0 2px #00FFFC,0 0 30px #00FFFC,0px 0px 5px #00FFFC, 0 0 150px #00FFFC;
	color:white;
	font-size: 18px;
}


#cardfive {
	background-image: url(image/fete.jpg);
	background-position: center;
}

#cardthree {
	background-image: url(image/guitarpic.jfif);
	background-position: center;
}

.container {
	background: red;
	box-shadow: 0 15px 35px rgba(50,50,93,0);
	width: 980px;


	display: flex;
  	align-items: center;
 	justify-content: space-between;
  	min-height: 50vh;
  	background-color: transparent;
}

.loader {
  max-width: 15rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
}


.framed-words {
	font-size:14px;;
	padding:6px;
	margin:2px;
}

/*media queries*/

@media (max-width: 760px) {
	.container{
		width: 600px;
	}
}

@media(max-width: 500px) {
	.container{
		width: 300px;
	}
}

@media (max-width: 700px) {
	.cardone{
		width: 300px;
	}
}

@media(max-width: 500px) {
	.cardone{
		width: 200px;
	}
}

